body{
    font-family: IRANSans !important;
    direction:rtl;

}
.min{
background:#00025a url(img/bg-stars.png) center no-repeat;
}
.text{
    color:#fab228;
    font-size: 2em;
}
.text1{
    color:#fff;
}
.bord{
    border:2px solid white;
    border-radius:6px;
}
.navcol{
   background-color: #FAB228;
}
.majmoe{
    border-bottom:2px solid #eee;
}
.ax{
    width: 150px;
}
.ft{
    padding-right:200px;
}
.ul{
    display:block;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
  }

  .intro{
      
      padding-top:50px;
  }
  h2{
      text-align: center;
   
  }
  h4{
    text-align: center;
    font-size:20px;
  }
  .text2{ text-align: right;

  }
 
  .green{
      background-color: green;;
  }
  .cont{
    border:2px solid #3f4075;
    margin:5px;
    font-size:10px;
    border-radius:10px;
  }
.down{
    border-top:2px solid #ff8800;
}

.navbar-nav .active{
    font-weight: bold;
}

.navbar-nav .active a{
    border-bottom:2px solid #333;
}

.navbar-nav .active a{
    border-bottom:1px solid #000;
    width:50%;
    float:left;
}